# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

## Data Science Languages
Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
Some of the commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools
| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

## Arithmetic Expression Examples
Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives
- List popular languages for Data Science
- Identify commonly used Data Science libraries
- Demonstrate arithmetic operations in Python
- Create a table of Data Science tools

## Author
**Author:** Suncony